.wd-banner-image {
    width: 100%;
    height: 250px;
}

.wd-banner-picture {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
}
.wd-profile-picture {
    position: absolute;
    height: 130px;
    width: 130px;
    top: 200px;
    left: 23px;
    margin-bottom: 4px;
    border: 1px solid #000000;
}
