body{
    background-color: black;
    /* margin: 16px; */
    margin-left:16px;
    margin-right:16px;
}

.container> div{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    /* border-top: 0px; */
    margin-right: 16px;
    border-bottom: 0px;
}
/* .wd-webhandle {
    padding-left: 16px;
    padding-bottom: 1px;
    
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-bottom: 0px;
} */

.wd-title > h3{
    line-height: 0px;
    color: white;
    font-style: bold ;
}

.wd-title{
    padding-left: 16px;
    padding-bottom: 1px;
    /* margin-top:12px;  */
    border-width: 0.5px;
    border-style: solid;
    border-color: gray;
    border-bottom: 0px;
    border-left:0px;
    border-right:0px;
    border-top: 0px;
    
}

.wd-title > p{
    line-height: 0px;
    color:lightgray;
    font-size: 13px;
    margin-bottom: 12px;
}

.wd-username{
    color:lightgray;
}

.wd-author-details{
    margin-left: 12px;
    color:white;
}
.wd-post{
    padding-top: 12px;
    padding-left: 16px;
    margin-top: none;
    margin-bottom: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-left:0px;
    border-right:0px;
    border-top:0px;
    
}

/* .wd-avatarimg{
    width: 50%;
} */

.wd-imgtag{
    float:left;
    width: 48px;
    height:48px;
    border-radius:48px;
    margin:12px;
    position: relative;
}

.wd-authortext{
    display: inline-block;
    color:lightgray;
    font-size:15px;
    width:506px;
    margin-top:12px;
    /* margin-left:16px; */
    margin-right:16px;
    overflow-wrap: break-word;
}

/* .wd-tuitphoto{
    margin-left: 16px;
    padding-left: 12px;
} */
.wd-postimgtag{

    width:504px;
    height:264px;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-top:16px;
    
}

.wd-maincontent{
    width:504px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(47, 51, 54);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: none;
}

.wd-maincontent>h4{
    color:white;
    font-size: 15px;
    padding-top: 12px;
    padding-right: 12px;
    padding-left: 12px;
    margin: 0px;
}

.wd-maincontent>p{
    color:lightgray;
    padding:12px;
    margin: 0px;
    
}
.wd-actions li{
    list-style-type: none;
    color: rgb(110,118,125);
    display: inline-block;   
    padding-left: 16px;
    padding-right: 16px;
    align-items: flex-start;
}

.wd-actions {
    /* display: inline-block; */
    list-style-type: none;
    display: relative;
    padding-left:0px;
    align-items: center;
}

.wd-actions li {
    
    color: rgb(110,118,125);
    display: inline-block;   
    padding-left: 16px;
    padding-right: 16px;
    /* padding-top:52px; */
} 

.wd-actions a {
    text-decoration: none;
    color: gray;
    display: inline-flex;
    /* align-items: flex-start; */
    /* padding-top:70px; */
}



/* .wd-actionurl{
    display: inline-block;
} */

.wd-action-icon{
    height: 25px;
    width:25px;
    padding-top: 0px;
    padding-right: 12px;
}

.wd-selectedaction > .wd-actionurl{
    color:red;
}

.wd-menudots{
    float:right;
    width:25px;
    height:25px;
    padding:12px;
    padding-top: 2px;
}



